

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

  header {
    background-color: #97DECE;
  }

a {
  color: #439A97;

}

  html {
    scroll-behavior: smooth;
  }

  .contacts-image {
    width: 20%;
    height: 20%;
    border-radius: 144px;
  }

  .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}

.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}

.section-item {
  position: relative;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid #829985;
  border-radius: 50%;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

  body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
  padding-bottom: 50px;
  background-color: #DEF5E5;
}

.contact-item {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}
.footer {
  margin-top: 50px;
  background-color: #9ED5C5;
  font-size: 75%;
}

.image-footer {
  width: 5%;
  height: 5%;
}
